<div class="marployd-page">
  <div class="marployd-page-content">
    <span class="marployd-page-title">Set in fiera</span>
    <p class="marployd-page-text">
      Scatto gratuitamente in molti eventi del nord-est. Le mie zone principali sono Verona, Vicenza, Padova e Venezia ma mi sposto anche in altre zone, come ad esempio Milano e Rimini.
    </p><p class="marployd-page-text">
      Non c'è bisogno di prenotarsi: quando vuoi scattare, ti basta inviarmi un DM e sarò da te il prima possibile!
    </p><p class="marployd-page-text">
      Annuncio su Instagram tutti i miei prossimi eventi. Rimani aggiornato!
    </p>

    <span class="marployd-page-title">Set privati</span>
    <p class="marployd-page-text">
      Se sei interessato a fare dei set in location particolari, contattami specificando quale cosplay vorresti portare e se hai già qualche spunto. Ci organizzeremo insieme per trovare il giorno e il luogo ideale per uno shooting!
    </p>
  </div>
</div>
