<div class="marployd-page">
  <div class="marployd-page-content">
    <span class="marployd-page-title">Prenotazione di un set</span>
    <p class="marployd-page-text">
      Solitamente le prenotazioni per un evento aprono due settimane prima, salvo casi particolari, e sono aperte a tutti. Non è possibile prendere accordi prima dell'annuncio ufficiale nelle mie storie di Instagram.<br><br>
      Non ci sono tariffe in quanto scatto sempre gratuitamente, ma i posti sono limitati: verrà data priorità alla scelta dell'orario ai primi che mi scrivono.<br><br>
      Nota che potrei limitare i set di coppia, di gruppi o di alcuni personaggi troppo popolari per motivi creativi. Inoltre, potrei riservare dei set ad esempio per cosplay di personaggi che cerco.<br><br>
      Il set si può annullare in qualsiasi momento senza penalità, purché io venga avvisato.
    </p>
    &#9670;

    <span class="marployd-page-title">Durante il set</span>
    <p class="marployd-page-text">
      Durante l'evento, presentarsi puntualmente e già pronti per scattare nella location concordata. Piccoli ritardi sono tollerati, ma dopo un po' potrei decidere di annullare il set in favore di altri.<br><br>
      Non si possono aggregare altre persone se non concordato in fase di prenotazione.
    </p>
    &#9670;

    <span class="marployd-page-title">Dopo il set</span>
    <p class="marployd-page-text">
      Le foto verranno consegnate entro un mese dall'evento, salvo diversa indicazione al momento della prenotazione. Un'anteprima sarà disponibile già dopo qualche giorno.<br><br>
      Ricorda che non è possibile editare le mie foto, salvo diversi accordi. Se noti dei difetti di produzione che vorresti correggere, ti invito a segnalarmeli entro una settimana dalla consegna.<br><br>
      Continui solleciti per le foto non aiutano a velocizzarmi, ma ti invito comunque a scrivermi nel caso volessi aggiornamenti sulla consegna.<br><br>
      Le foto puoi pubblicarle a tua discrezione, ma ricordati di taggarmi!
    </p>
    &#9670;
  </div>
</div>
