<div class="marployd-page">
  <div class="marployd-page-content">
    <span class="marployd-page-title">Scattare con me</span>
    <p class="marployd-page-text"> <b>Come posso prenotare un set per un evento?</b> &#8594;
      Scrivimi su <a href="https://www.instagram.com/marployd">Instagram</a> o su <a href="https://www.facebook.com/marployd">Facebook</a>,
      sarò felice di rispondere a tutte le tue domande e anche accordarci per qualche foto! Ricordati di leggere le regole nella sezione RULES.
    </p>
    <!-- <p class="marployd-page-text"> <b>Devo prenotarti?</b> &#8594;
      Non sempre. Ti consiglio di rimanere aggiornato sui miei social per conoscere le modalità evento per evento.
      In generale, se mi scrivi anche il giorno stesso mentre sono in fiera cercherò di essere da te il prima possibile.
      Però darò precedenza a chi si è prenotato prima, e se ho troppe richieste potrei dover rifiutare qualche set.
    </p> -->
    <p class="marployd-page-text"> <b>I posti sono limitati?</b> &#8594;
      Sì, accetto pochissime prenotazioni al giorno. In questo modo posso godermi l'evento ed eventualmente fare qualche foto ad amici ed altri cosplayer che attirano la mia attenzione.
    </p>
    <p class="marployd-page-text"> <b>Quanto costa scattare con te?</b> &#8594;
      Tutti i miei servizi fotografici durante fiere ed eventi cosplay sono completamente gratuiti.
    </p>
    <p class="marployd-page-text"> <b>A quali eventi partecipi?</b> &#8594;
      Rimani aggiornato sulla mia pagina Instagram per conoscere tutti i miei futuri eventi cosplay! La mia zona principale è il Veneto.
    </p>
    <!-- <p class="marployd-page-text"> <b>Come scegli con chi scattare?</b> &#8594;
      Da quando ho iniziato, cerco sempre cosplay di personaggi a me noti e soprattutto poco conosciuti.
      Però non rifiuto mai i set se non per questioni pratiche o di tempistiche, quindi in ogni caso sarò super felice di scattare con te!
    </p> -->
    &#9670;

    <span class="marployd-page-title">Dopo aver scattato con me</span>
    <p class="marployd-page-text"> <b>Come mi verranno consegnate le foto?</b> &#8594;
      Solitamente, invio un link di Google Drive con i tuoi scatti. Puoi scaricare le foto, ma il link rimarrà sempre disponibile.
      Se perdi il link, ti basta scrivermi e te lo invierò di nuovo.
    </p>
    <p class="marployd-page-text"> <b>In quanto tempo arriveranno le foto?</b> &#8594;
      Cerco di inviarle il prima possibile. Purtroppo la fotografia non è il mio lavoro, e il tempo a disposizione non è molto.
      Comunque se vuoi aggiornamenti sulla lavorazione, puoi sempre contattarmi, purché non sia troppo insistente.
    </p>
    <p class="marployd-page-text"> <b>Come scegli a chi inviare prima le foto?</b> &#8594;
      Vado in ordine, consegnando le foto che sono in attesa da più tempo. First in, first out!
      Ciò comunque rimane a mia completa discrezione, quindi potrei decidere di fare delle eccezioni.
      <!-- Puoi comunque supportare il mio lavoro acquistando un <a href="https://ko-fi.com/marployd">saltafila</a>. -->
    </p>
    &#9670;

    <span class="marployd-page-title">Diritti d'autore e consenso</span>
    <p class="marployd-page-text"> <b>Posso postare le foto?</b> &#8594;
      Ovvio! Ricordati solo di taggarmi :D
    </p>
    <p class="marployd-page-text"> <b>Posso postare le anteprime (nel caso ci fossero)?</b> &#8594;
      Se il risultato, provvisorio, ti piace, non vedo perché no!
    </p>
    <p class="marployd-page-text"> <b>Ho cambiato idea, non voglio che tu posti le mie foto. Come devo fare?</b> &#8594;
      Ti basta avvertirmi il prima possibile! Riceverai comunque le foto editate, ma non verranno pubblicate sulle mie piattaforme.
      Ciò non pregiudica future collaborazioni con me. Se ti và di scattare ancora, ti basta contattarmi senza alcun problema!
    </p>
    <!-- <p class="marployd-page-text"> <b>Perché non hai postato le mie foto?</b> &#8594;
      Seleziono le foto da pubblicare con largo anticipo. Nonostante mi piacerebbe postare un gran numero di scatti, ciò non è possibile per una questione pratica e di tempistiche.
      Scelgo quindi arbitrariamente le foto da mostrare su Instagram o Facebook, tenendo conto soprattutto della qualità della foto piuttosto che del soggetto stesso.
      Ad esempio, se la foto presenta un po' di micromosso o la composizione non è delle migliori, quella foto verrà accantonata in favore di altre.
      In ogni caso, devo comunque effettuare un ulteriore selezione per evitare di ritardare troppo la pubblicazione delle foto di eventi più recenti.
    </p> -->
    <p class="marployd-page-text"> <b>Posso editare le foto che mi hai consegnato?</b> &#8594;
      <!-- Nonostante tutti i miei lavori abbiano già un minimo di editing, consento a tutti di editare personalmente, o tramite terzi, le mie foto.
      Questo per permettere di migliorare ulteriormente lo scatto a fronte di un edit che è solamente superficiale e che non comprende nessun tipo di effetto speciale.
      In questo caso, se la foto verrà pubblicata ti chiedo di indicare in descrizione chi l'ha editata così da specificare che il lavoro aggiunto non è stato svolto da me. -->
      In genere no, non permetto più di modificare le mie foto. Se hai delle necessità, ti invito a scrivermi per trovare un accordo!
    </p>
    &#9670;

    <span class="marployd-page-title">Polaroid</span>
    <p class="marployd-page-text"> <b>Posso avere una Polaroid?</b> &#8594;
      SISISI! Chiaramente la disponibilità è limitata, e posso regalare una sola istantanea a cosplayer.
    </p>
    <!-- <p class="marployd-page-text"> <b>Non ho avuto la Polaroid</b> &#8594;
      Probabilmente erano finite, oppure sono un mona. La giornata-evento dura molto poco, quindi spesso sono di fretta.
      Può capitare che me ne dimentichi e me ricordi solo più tardi. Alla prossima occasione rimedieremo!
    </p>
    <p class="marployd-page-text"> <b>Quanto ti costa una foto Polaroid?</b> &#8594;
      Circa 2 euro a scatto.
    </p> -->
    <p class="marployd-page-text"> <b>Perché non devo agitare la Polaroid?</b> &#8594;
      Squotere la foto per accelerarne lo sviluppo, è un falso mito diffuso da film e altri media.
      In realtà così facendo si rischia di smuovere i reagenti e rovinare il risultato finale dell'istantanea.
      Appena scattata, proteggila dalla luce e attendi qualche minuto prima di ammirare la foto Polaroid.
    </p>
    <p class="marployd-page-text"> <b>Posso scrivere sulla Polaroid?</b> &#8594;
      Sì, puoi scrivere sul bordo bianco con un pennarello indelebile. Solitamente io uso un fineliner.
    </p>
    <p class="marployd-page-text"> <b>Come posso conservare al meglio la Polaroid?</b> &#8594;
      Riponila in un album o una vetrina, al riparo dalla luce diretta del sole, in un luogo con umidità non eccessiva.
    </p>
    &#9670;

    <span class="marployd-page-title">Support me!</span>
    <p class="marployd-page-text"> <b>Come posso supportare il tuo lavoro?</b> &#8594;
      Se vuoi, puoi comprarmi <s>un ko-fi</s> una Polaroid <a href="https://ko-fi.com/marployd">qui</a>!
    </p>
    <p class="marployd-page-text"> <b>Posso aiutarti anche in altri modi?</b> &#8594;
      <!-- Certo! Ricordati sempre di taggarmi quando posti le fotografie (su Instagram usa anche le collab!). Inoltre anche qualsiasi consiglio o critica può aiutarmi a crescere! -->
      Certo! Ricordati sempre di taggarmi quando posti le fotografie. Inoltre anche qualsiasi consiglio o critica può aiutarmi a crescere!
    </p>
    &#9670;

    <!-- <span class="marployd-page-title">Allestimento set fotografico</span>
    <p class="marployd-page-text"> <b>Hai un set fotografico?</b> &#8594;
      Sì, e sono disponibile ad allestirlo a fiere ed eventi.
    </p>
    <p class="marployd-page-text"> <b>Che cosa metti a disposizione?</b> &#8594;
      Il set è composto da una serie di teli colorati e luci RGB, con tutto il necessario per scattare.
    </p>
    <p class="marployd-page-text"> <b>Chi può usare il set?</b> &#8594;
      L'allestimento può essere utilizzato gratuitamente da tutti i fotografi e i cosplayers che volessero usufruirne.
    </p>
    <p class="marployd-page-text"> <b>Quanto costa?</b> &#8594;
      Chiedo un rimborso spese da concordare di caso in caso, necessario sia per lo spostamento ma anche per mantenere l'attrezzatura.
    </p>
    &#9670; -->

    <span class="marployd-page-title">Foto oltre gli eventi (set privati)</span>
    <p class="marployd-page-text"> <b>Sei disponibile per scattare delle foto al di fuori degli eventi?</b> &#8594;
      No, attualmente per diversi motivi preferisco scattare solamente in fiera e in eventi dedicati.
      Se però hai un progetto che secondo te potrebbe interessarmi, scrivimi in privato così possiamo parlarne!
    </p>
    &#9670;
  </div>
</div>
