<div class="marployd-page">
  <div class="marployd-page-content">
    <span class="marployd-page-title">Social</span>
    <button class="marployd-page-button" (click)="goTo('www.instagram.com/marployd');">Instagram</button>
    <button class="marployd-page-button" (click)="goTo('www.facebook.com/marployd');">Facebook</button>

    <span class="marployd-page-title">Portfolio fotografico</span>
    <p class="marployd-page-text">
      Qui puoi trovare alcuni dei miei lavori e la mia collezione di Polaroid.
    </p>
    <button class="marployd-page-button" (click)="goTo('polafolio.marployd.it');">Polafolio</button>

    <span class="marployd-page-title">Email</span>
    <p class="marployd-page-text">
      polaroidman@marployd.it
    </p>

    <!-- <span class="marployd-page-title">Altro</span>
    <button class="marployd-page-button" (click)="goTo('open.spotify.com/user/gameshadowoo');">Spotify</button>
    <button class="marployd-page-button" (click)="goTo('steamcommunity.com/id/gameshadowsteam');">Steam</button>
    <button class="marployd-page-button" (click)="goTo('myanimelist.net/profile/GameShadowOO');">MyAnimeList</button>
    <button class="marployd-page-button" (click)="goTo('github.com/4mbromark');">GitHub</button>
    <button class="marployd-page-button" (click)="goTo('www.linkedin.com/in/marco-ambrosi/');">LinkedIn</button> -->
  </div>
</div>
