<div class="marployd-page">
  <div class="marployd-page-content">
    <span class="marployd-page-title">Marco Ambrosi</span>
    <p class="marployd-page-text">
      Fotografo amatoriale. Sono un appassionato di anime e manga, e di tutto ciò che è correlato agli eventi del fumetto e del cosplay.
    </p>
    <p class="marployd-page-text">
      Sono disponibile per scattare gratuitamente in molti eventi del nord-est. Rimani aggiornato sulle mie pagine social, e non esitare a scrivermi per qualsiasi info!
    </p>
    <span class="marployd-page-separator">&#9670;</span>

    <span class="marployd-page-title">Social e contatti</span>
    <button class="marployd-page-button" (click)="goTo('www.instagram.com/marployd');">Instagram</button>
    <button class="marployd-page-button" (click)="goTo('www.facebook.com/marployd');">Facebook</button>
    <button class="marployd-page-button" (click)="goTo('polafolio.marployd.it');">Polafolio</button>
    <button class="marployd-page-button" (click)="goTo('www.fotoamatoricosplay.com/fotografi/821/Marco+Polaroid');">Profilo AIFA</button>
    <p class="marployd-page-text"></p>
    <p class="marployd-page-text">
      polaroidman@marployd.it
    </p>
    <p class="marployd-page-text"></p>

    <span class="marployd-page-title">Support my work!</span>
    <button class="marployd-page-button" (click)="goTo('ko-fi.com/marployd');">Ko-fi</button>
    <button class="marployd-page-button" (click)="goTo('www.amazon.it/hz/wishlist/ls/IZ598XIIR7SV?ref_=wl_share');">Amazon wishlist</button>
    <p class="marployd-page-text"></p>

    <span class="marployd-page-title">Altro</span>
    <button class="marployd-page-button" (click)="goTo('steamcommunity.com/id/gameshadowsteam');">Steam</button>
    <button class="marployd-page-button" (click)="goTo('myanimelist.net/profile/GameShadowOO');">MyAnimeList</button>

    <p class="marployd-page-text"></p>
    <span class="marployd-page-separator">&#9670;</span>
    <p class="marployd-page-text"></p>
  </div>
</div>
