<div class="marployd-page">
  <div class="marployd-page-content">
    <span class="marployd-page-title">Marco Ambrosi</span>
    <p class="marployd-page-text">
      Fotografo amatoriale. Sono un appassionato di anime e manga, e di tutto ciò che è correlato agli eventi del fumetto e del cosplay.
    </p>
    <p class="marployd-page-text">
      Sono disponibile per scattare gratuitamente in molti eventi del nord-est. Rimani aggiornato sulle mie pagine social, e non esitare a scrivermi per qualsiasi info!
    </p>
    <span class="marployd-page-separator">&#9670;</span>

    <span class="marployd-page-title">Social e contatti</span>
    <button class="marployd-page-button" (click)="goTo('www.instagram.com/marployd');">Instagram</button>
    <button class="marployd-page-button" (click)="goTo('www.facebook.com/marployd');">Facebook</button>
    <p class="marployd-page-text"></p>
    <p class="marployd-page-text">
      Portfolio fotografico
    </p>
    <button class="marployd-page-button" (click)="goTo('polafolio.marployd.it');">Polafolio</button>
    <p class="marployd-page-text"></p>
    <p class="marployd-page-text">
      Profilo AIFA Cosplay
    </p>
    <button class="marployd-page-button" (click)="goTo('www.fotoamatoricosplay.com/fotografi/821/Marco+Polaroid');">Profilo AIFA</button>
    <p class="marployd-page-text"></p>
    <p class="marployd-page-text">
      polaroidman@marployd.it
    </p>
    <p class="marployd-page-text"></p>

    <span class="marployd-page-title">Support my work!</span>
    <!-- <p class="marployd-page-text">
      Qui puoi trovare alcuni dei miei lavori e la mia collezione di Polaroid.
    </p> -->
    <button class="marployd-page-button" (click)="goTo('ko-fi.com/marployd');">Ko-fi</button>
    <button class="marployd-page-button" (click)="goTo('www.amazon.it/hz/wishlist/ls/IZ598XIIR7SV?ref_=wl_share');">Amazon wishlist</button>
    <p class="marployd-page-text"></p>

    <!-- <span class="marployd-page-title">Portfolio fotografico</span>
    <p class="marployd-page-text">
      Qui puoi trovare alcuni dei miei lavori e la mia collezione di Polaroid.
    </p>
    <button class="marployd-page-button" (click)="goTo('polafolio.marployd.it');">Polafolio</button>
    <p class="marployd-page-text"></p> -->

    <!-- <span class="marployd-page-title">Profilo AIFA Cosplay</span>
    <p class="marployd-page-text">
      Faccio parte dell'Associazione Italiana Fotoamatori Cosplay.
    </p>
    <button class="marployd-page-button" (click)="goTo('www.fotoamatoricosplay.com/fotografi/821/Marco+Polaroid');">Profilo AIFA</button>
    <p class="marployd-page-text"></p> -->

    <!-- <span class="marployd-page-title">Email</span>
    <p class="marployd-page-text">
      polaroidman@marployd.it
    </p> -->

    <span class="marployd-page-title">Altro</span>
    <!--<button class="marployd-page-button" (click)="goTo('open.spotify.com/user/gameshadowoo');">Spotify</button>-->
    <button class="marployd-page-button" (click)="goTo('steamcommunity.com/id/gameshadowsteam');">Steam</button>
    <button class="marployd-page-button" (click)="goTo('myanimelist.net/profile/GameShadowOO');">MyAnimeList</button>
    <!--<button class="marployd-page-button" (click)="goTo('github.com/4mbromark');">GitHub</button>-->
    <!--<button class="marployd-page-button" (click)="goTo('www.linkedin.com/in/marco-ambrosi/');">LinkedIn</button>-->

    <p class="marployd-page-text"></p>
    <span class="marployd-page-separator">&#9670;</span>
    <p class="marployd-page-text"></p>
  </div>
</div>
