<div class="marployd-page">
  <div class="marployd-page-content">
    <p class="marployd-page-text">
      Ti ho regalato una Polaroid? Leggi qui!
    </p>
    <span class="marployd-page-title">Cos'è?</span>
    <p class="marployd-page-text">
      Una foto istantanea Polaroid è un incredibile concentrato di tecnologia fotografica e reagenti chimici. Per far sì che non si rovini nel tempo, eccoti alcuni consigli.
    </p>
    <span class="marployd-page-title">Appena scattata</span>
    <p class="marployd-page-text">
      Riparala dalla luce per qualche minuto. Ma soprattutto: evita di scuoterla! Potrebbe smuovere le paste chimiche che contiene e rovinare la fotografia. Attenzione a non piegarla o graffiarla!
    </p>
    <span class="marployd-page-title">Un autografo?</span>
    <p class="marployd-page-text">
      Puoi scrivere sul bordo bianco della foto con un pennarello indelebile (io solitamente utilizzo un fineliner).
    </p>
    <span class="marployd-page-title">Polarizzato!</span>
    <p class="marployd-page-text">
      Conserva la tua Polaroid in un album o in una vetrina, lontano dai raggi diretti del sole. Evita inoltre l'umidità!
    </p>
  </div>
</div>
