<div class="marployd-page">
  <div class="marployd-page-content">
    <p class="marployd-page-text">
      Hai scattato con me? Grazie! Eccoti alcune info utili.
    </p>
    <span class="marployd-page-title">Tempistiche</span>
    <p class="marployd-page-text">
      Cerco di consegnare le foto il prima possibile, dando priorità a quelle in attesa da più tempo. Purtroppo non riesco a dare una data precisa.
    </p>
    <span class="marployd-page-title">Pubblicazione</span>
    <p class="marployd-page-text">
      Posto le foto nei miei social, previo consenso chiesto in fiera. Se dovessi aver cambiato idea, per qualsiasi ragione, ti basta scrivermi senza alcun problema e i tuoi scatti non verranno pubblicati.
    </p>
    <span class="marployd-page-title">Copyright</span>
    <p class="marployd-page-text">
      Una volta che ti ho consegnato le foto, sei libero di utilizzarle a tuo piacimento. In caso dovessi pubblicarle, ricordati di taggarmi per sostenere il mio lavoro!
    </p>
  </div>
</div>
